/* .App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
} */

.btn {
  width: 20%;
  height: 100%;
  /* margin-left: 10px; */
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.font-gugi {
  font-family: 'Gugi', cursive;
}

.font-indie {
  font-family: 'Indie Flower', cursive;
  font-size: 25px;
}

.font-shri {
  font-family: 'Shrikhand', cursive;
}
